<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/fc-3.3.2/fh-3.1.8/datatables.min.css" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jszip-2.5.0/dt-1.10.23/b-1.6.5/b-html5-1.6.5/fc-3.3.2/fh-3.1.8/datatables.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='/css/chat.css')}}">
    <title>Panel de administración</title>
</head>

<body>
    <div class="text-center bg-dark-subtle">
        <h1>Panel de administración</h1>
    </div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="\static\img\logo.png" alt="logo" class="img-thumbnail" width="65" height="70">
                <span class="fs-3">&nbsp;&nbsp;Bienvenido, {{current_user.fullname}}</span>
            </a>
            <ul class="nav">
                <li class="nav-item m-1"><a href="{{url_for ('estadisticas_problemas') }}" class="btn btn-secondary">Estadisticas de problemas</a>
                </li>
                <li class="nav-item m-1"><a href="{{url_for ('usuariosPanel') }}" class="btn btn-secondary">Usuarios</a>
                </li>
                <li class="nav-item m-1"><a href="{{ url_for ('departamentosPanel') }}"
                        class="btn btn-secondary">Departamentos</a></li>
                <li class="nav-item m-1"><a href="{{ url_for ('logout') }}" class="btn btn-danger">Cerrar Sesión</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="text-center">
        <h1>Bandeja de tickets</h1>
    </div>
    <div class="container">
        <table id="miTabla">
            <thead>
                <tr>
                    <th>#ID ticket</th>
                    <th>ID usuario</th>
                    <th>Funcionario</th>
                    <th>Departamento</th>
                    <th>Numero de contacto</th>
                    <th>Descripcion</th>
                    <th>Estado</th>
                    <th>Acción</th>
                    <th>Generado</th>
                </tr>
            </thead>
        </table>
    </div>
    <!-- MODAL VIEW TICKET -->
    <div>
        <div id="modalverticket" class="modal fade" role="dialog">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title text-primary" style="align-content: center;">Ticket #ID </h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div>
                            <h3 class="text-primary" style="text-align: center;">Cambiar estado del ticket</h3>
                        </div><br>
                        <form action="{{url_for('cambioEstado')}}" method="POST">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <input type="hidden" name="id_ticket_estado" id="id_ticket_estado">
                            <div class="text-center" role="group">
                                <button type="submit" name="estado" value="Cerrado"
                                    class="btn btn-danger">Cerrado</button>
                                <button type="submit" name="estado" value="Pendiente"
                                    class="btn btn-warning">Pendiente</button>
                                <button type="submit" name="estado" value="Abierto"
                                    class="btn btn-success">Abierto</button>
                            </div>
                        </form>
                        <div class="form-group">
                            <label>Funcionario</label>
                            <input type="text" name="funcionario" class="form-control" id="funcionario" disabled>
                        </div><br>
                        <div class="form-group">
                            <label>Departamento</label>
                            <input type="text" name="departamento" class="form-control" id="departamento" disabled>
                        </div><br>
                        <div class="form-group">
                            <label>Descripcion</label>
                            <textarea type="text" rows="10" name="descripcion" class="form-control" id="descripcion"
                                disabled></textarea>
                        </div><br>
                        <div class="form-group">
                            <label>Numero de contacto</label>
                            <input type="text" id="numero_contacto" name="numero_contacto" class="form-control"
                                disabled>
                        </div><br>

                        <div class="form-group tipoProblema">
                            <form action="{{ url_for('panelAdmin') }}" method="POST" id="actualizar-tipo-problema-form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="id_ticket" id="ticketID" autocomplete="off">
                                <label for="tipo_problema">Tipo de problema</label>
                                <select class="form-select" aria-label="Default select example" name="tipo_problema"
                                    id="tipo_problema" required>
                                    {% for problema in problemas %}
                                    {% if problema.1 == tipo_problema %}
                                    <option value="{{ problema.1 }}" selected>{{ problema.1 }}</option>
                                    {% else %}
                                    <option value="{{ problema.1 }}">{{ problema.1 }}</option>
                                    {% endif %}
                                    {% endfor %}
                                    <option value="otro">Otro</option>
                                </select><br>
                                <div class="form-group" id="otro-problema" style="display:none;">
                                    <label for="otro_tipo_problema">Especifique el tipo de problema</label>
                                    <input type="text" class="form-control" id="otro_tipo_problema"
                                        name="otro_tipo_problema">
                                </div><br>
                                <div class="form-group text-center">
                                    <button type="submit" class="btn btn-success">Actualizar tipo problema</button>
                                </div>
                            </form>
                        </div><br>
                        <div>
                            <h2 class="text-primary" style="text-align: center;">Chat de soporte</h2>
                        </div><br>
                        <div id="chat-container"></div><br>
                        <div class="container">
                            <form id="chat-form">
                                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                <input type="hidden" name="id_ticket" autocomplete="off" id="id_ticket">
                                <div class="form-group">
                                    <label>Responder ticket</label>
                                    <input type="text" name="mensaje" id="mensaje" class="form-control"><br>
                                    <input type="hidden" name="hora_mensaje" id="hora_mensaje" value="">
                                </div>
                                <button type="submit" class="btn btn-success">Enviar</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">


        $(document).ready(function () {
            var select = document.querySelector('select[name="tipo_problema"]');
            var otroProblema = document.querySelector('#otro-problema');
            select.addEventListener('change', function () {
                if (select.value == 'otro') {
                    setTimeout(function () {
                        otroProblema.style.display = 'block';
                    }, 10);
                } else {
                    otroProblema.style.display = 'none';
                }
            });

            var btnActualizar = $('button[type="submit"]');
            btnActualizar.on('click', function (event) {
                var inputProblema = $('#otro_tipo_problema').val().trim();
                if (select.value == 'otro' && inputProblema == '') {
                    event.preventDefault();
                    alert('El campo de especificar tipo de problema no puede estar vacio');
                }
            });
        });

        $(document).ready(function () {
            $('#miTabla').DataTable({
                "ajax": "/dataTickets",
                "columns": [
                    { "data": "id_ticket" },
                    { "data": "user_id" },
                    { "data": "user_fullname" },
                    { "data": "departamento" },
                    { "data": "numero_contacto" },
                    {
                        "data": "descripcion",
                        "render": function (data, type, row) {
                            if (type === 'display') {
                                return data.length > 100 ?
                                    data.substr(0, 100) + '...' :
                                    data;
                            } else {
                                return data;
                            }
                        }
                    },
                    {
                        "data": "estado",
                        "render": function (data, type, row) {
                            if (data === 'Abierto') {
                                return '<button class="btn btn-success" disabled>' + data + '</button>';
                            } else if (data == 'Pendiente') {
                                return '<button class="btn btn-warning" disabled>' + data + '</button>';

                            } else {
                                return '<button class="btn btn-danger" disabled> Cerrado </button>';
                            }
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            return '<button class="btn btn-primary ver-ticket" href="/verTicket/' + row.id_ticket + '" data-bs-toggle="modal" data-bs-target="#modalverticket" data-ticket-id="' + row.id_ticket + '">Ver ticket</button>';
                        }
                    },
                    { "data": "created_at" }
                ],
                "language": {
                    "sProcessing": "Procesando...",
                    "sLengthMenu": "Mostrar _MENU_ registros por pagina",
                    "sZeroRecords": "No se encontraron resultados",
                    "sEmptyTable": "No hay registros de tickets en la tabla",
                    "sInfo": "Mostrando registros de _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty": "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered": "(filtrado de un total de _MAX_ registros)",
                    "sSearch": "Buscar:",
                    "oPaginate": {
                        "sFirst": "Primero",
                        "sLast": "Ultimo",
                        "sNext": "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending": ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            });
        });

        $(document).ready(function () {
            function cargarMensajes(id_ticket) {
                $.ajax({
                    type: 'GET',
                    url: '/obtener_mensajes/' + id_ticket, // Agregar una barra diagonal antes de la variable
                    success: function (response) {
                        // Procesar la respuesta del servidor (los mensajes)
                        for (let i = 0; i < response.length; i++) {
                            const mensaje = response[i].mensaje;
                            const hora_mensaje = response[i].hora_mensaje;
                            const user = response[i].user;
                            let message;
                            message = `<div class="message sent"><p><span class="sender"><b>${user}</b>:</span> ${mensaje}</p><span class="timestamp">${hora_mensaje}</span></div>`;
                            container.innerHTML += message;
                        }

                        // Hacer scroll hacia abajo para mostrar los mensajes recién cargados
                        container.scrollTop = container.scrollHeight;
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            }


            // Función para cargar el contenido del modal
            function actualizarModal(ticket_id) {
                // Hacer la petición AJAX para obtener los detalles del ticket correspondiente
                $.ajax({
                    url: '/ver-ticket/' + ticket_id,
                    method: 'GET',
                    success: function (response) {
                        // Cargar el contenido del modal desde un archivo separado
                        $('#modalverticket .modal-content').load('/ruta/a/modal-content.html', function () {
                            // Actualizar el contenido del modal con los detalles del ticket
                            $('#modalverticket .modal-title').text('Ticket #ID ' + ticket_id);
                            $('#funcionario').val(response.user_fullname);
                            $('#departamento').val(response.departamento);
                            $('#descripcion').text(response.descripcion);
                            $('#estado').val(response.estado);
                            $('#numero_contacto').val(response.numero_contacto)
                            $('#id_ticket').val(ticket_id);
                            $('#ticketID').val(ticket_id);
                            $('#id_ticket_estado').val(ticket_id);

                            // Asignar el valor de response.tipo_problema al select
                            $('#tipo_problema').val(response.tipo_problema);
                            if (response.estado === 'Cerrado') {
                                // Deshabilitar los campos
                                $('#mensaje').prop('disabled', true);
                                $('#tipo_problema').prop('disabled', true);
                                $('#btn-guardar').prop('disabled', true);
                                // Eliminar la alerta anterior, si existe
                                $('#modalverticket .alert').remove();
                                // Agregar la nueva alerta indicando que el ticket está cerrado
                                var alerta = '<div class="alert alert-danger text-center" role="alert">Este ticket se encuentra cerrado!</div>';
                                $('#modalverticket .modal-body').prepend(alerta);
                            } else {
                                // Si el ticket no está cerrado, habilitar los campos y eliminar la alerta anterior, si existe
                                $('#mensaje').prop('disabled', false);
                                $('#tipo_problema').prop('disabled', false);
                                $('#btn-guardar').prop('disabled', false);
                                $('#modalverticket .alert').remove();
                            }
                            //Limpia contenido del chat cada vez que se cargen los msg
                            container.innerHTML = '';
                            // Cargar los mensajes de chat para la ID del ticket especificada
                            cargarMensajes(ticket_id);
                        });
                    },
                    error: function (xhr, status, error) {
                        console.log(error);
                    }
                });
            }

            $('#actualizar-tipo-problema-form').on('submit', function (event) {
                event.preventDefault();  // Detener el comportamiento predeterminado del formulario
                // Envía el formulario usando $.ajax() o $.post()
                $.ajax({
                    url: $(this).attr('action'),
                    method: $(this).attr('method'),
                    data: $(this).serialize(),
                    success: function (response) {
                        // Muestra la alerta de éxito
                        var alerta = '<div class="alert alert-success text-center" role="alert">Tipo de problema actualizado !!</div>';
                        $('#modalverticket .tipoProblema').prepend(alerta);
                        // Oculta la alerta después de 2 segundos
                        setTimeout(function () {
                            $('.alert-success').fadeOut(function () {
                                // Recargar la página después de que la alerta desaparezca
                                ticket_id = $('#ticketID').val();
                                localStorage.setItem('ticket_id', ticket_id); // Almacenar el ticket_id en localStorage
                                location.reload();
                            });
                        }, 2000);
                    }
                });
            });

            //después de que la página se haya recargado, recuperar el ticket_id de localStorage y llamar la función actualizarModal
            $(document).ready(function () {
                var ticket_id = localStorage.getItem('ticket_id');
                if (ticket_id) {
                    //actualizarModal(ticket_id);
                    const verTicketBtn = document.querySelector(`button.ver-ticket[data-ticket-id="${ticket_id}"]`);
                    if (verTicketBtn){
                        console.log("estoy dentro del ")
                        verTicketBtn.click();
                    }
                    localStorage.removeItem('ticket_id'); // Eliminar el ticket_id de localStorage después de usarlo
                }
            });

            // Evento de clic en el botón para abrir el modal
            $(document).on('click', '[data-bs-target="#modalverticket"]', function () {
                var ticket_id = $(this).data('ticket-id');
                // Actualizar el contenido del modal
                actualizarModal(ticket_id);
            });
        });

        const container = document.getElementById('chat-container');
        let user = '{{current_user_fullname}}';

        $('#chat-form').submit(function (event) {
            event.preventDefault();

            // Obtener valor del campo de entrada
            const mensaje = $('#mensaje').val();

            // Validar que el campo de entrada no esté vacío
            if (mensaje.trim() === '') {
                alert('El campo de mensaje no puede estar vacío.');
                return;
            }


            // Obtener la fecha y hora actual
            const timestamp = new Date().toLocaleString();

            // Crear elemento de mensaje con el valor ingresado, el remitente y la fecha de envío
            const message = `<div class="message sent"><p><span class="sender"><b>${user}</b>:</span> ${mensaje}</p><span class="timestamp">${timestamp}</span></div>`;
            console.log(user)
            // Agregar elemento de mensaje al contenedor
            container.innerHTML += message;

            // Obtener valor del span de hora_respuesta
            const hora_mensaje = $('.timestamp').last().text();

            // Asignar valor al input oculto de hora_respuesta
            $('#hora_mensaje').val(hora_mensaje);



            // Hacer scroll hacia abajo para mostrar el mensaje recién enviado
            container.scrollTop = container.scrollHeight;

            // Enviar los datos del formulario al servidor utilizando AJAX
            const form_data = $(this).serialize();
            $.ajax({
                type: 'POST',
                url: '/enviar_respuesta',
                data: form_data,
                success: function (response) {
                    console.log(response);
                },
                error: function (error) {
                    console.log(error);
                },
            });
            // Limpiar campo de entrada
            $('#mensaje').val('');
        });


    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>