<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>Sistema de ticket</title>
</head>

<body>
    <div class="text-center bg-dark-subtle">
        <h1>Estadisticas de problemas</h1>
    </div>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                <img src="\static\img\logo.png" alt="logo" class="img-thumbnail" width="65" height="70">
                <span class="fs-3">&nbsp;&nbsp;Bienvenido, {{current_user.fullname}}</span>
            </a>
            <ul class="nav">
                <li class="nav-item m-1"><a href="{{url_for ('panelAdmin') }}" class="btn btn-secondary">Home</a>
                </li>
                <li class="nav-item m-1"><a href="{{url_for ('usuariosPanel') }}" class="btn btn-secondary">Usuarios</a>
                </li>
                <li class="nav-item m-1"><a href="{{ url_for ('departamentosPanel') }}"
                        class="btn btn-secondary">Departamentos</a></li>
                <li class="nav-item m-1"><a href="{{ url_for ('logout') }}" class="btn btn-danger">Cerrar Sesión</a>
                </li>
            </ul>
        </header>
    </div>
    <div class="text-center">
        <h1>Estadisticas de problemas</h1>
        <div class="alert alert-info container" role="alert">
            El grafico es interactivo puede ir descartando problemas que no desea que se vean en su grafico ☝
        </div>
    </div><br>
    <div class="container justify-content-center">
        <div class="row">
            <div class="col-md-7 container">
                <canvas id="myChart"></canvas>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>

        axios.get('/dataGrafico')
            .then(function (response) {
                var data = response.data.data;

                // Filtrar las entradas con valores vacíos o nulos en el campo "tipo_problema"
                data = data.filter(function (d) { return d.tipo_problema && d.tipo_problema.trim() !== ''; });

                // Generar el gráfico con Charts.js
                var tipos_problema = data.map(function (d) { return d.tipo_problema; });
                var frecuencias = data.map(function (d) { return d.frecuencia; });

                var ctx = document.getElementById('myChart').getContext('2d');
                var myChart = new Chart(ctx, {
                    type: 'pie',
                    data: {
                        labels: tipos_problema,
                        datasets: [{
                            label: ' Frecuencia de problema',
                            data: frecuencias,
                            backgroundColor: [
                                '#FF6384',
                                '#36A2EB',
                                '#FFCE56',
                                '#008000',
                                '#800080',
                                '#FFA07A',
                                '#00FF00',
                                '#00FFFF',
                                '#FF00FF',
                                '#000080',
                                '#FF7F50',
                                '#FFD700',
                                '#808080',
                                '#008080',
                                '#800000',
                                '#0000FF',
                                '#FF69B4',
                                '#000000',
                                '#696969'
                            ],
                            borderColor: [
                                '#FF6384',
                                '#36A2EB',
                                '#FFCE56',
                                '#008000',
                                '#800080',
                                '#FFA07A',
                                '#00FF00',
                                '#00FFFF',
                                '#FF00FF',
                                '#000080',
                                '#FF7F50',
                                '#FFD700',
                                '#808080',
                                '#008080',
                                '#800000',
                                '#0000FF',
                                '#FF69B4',
                                '#000000',
                                '#696969'
                            ],
                            borderWidth: 1
                        }]
                    },
                    options: {
                        legend: {
                            display: false
                        },
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }],
                            xAxes: [{
                                ticks: {
                                    autoSkip: false,
                                    fontStyle: 'bold'
                                },
                                barPercentage: 0.8,
                                categoryPercentage: 0.5
                            }]
                        },
                        tooltips: {
                            callbacks: {
                                label: function (tooltipItem, data) {
                                    var label = data.labels[tooltipItem.index];
                                    var value = data.datasets[0].data[tooltipItem.index];
                                    return label + ': ' + value;
                                }
                            }
                        }
                    },
                });
            })
            .catch(function (error) {
                console.log(error);
            });

    </script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>