<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
  <title>Sistema de ticket</title>
</head>

<body>
  <div class="text-center bg-dark-subtle">
    <h1>Sistema de tickets</h1>
  </div>
  <div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom ">
      <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
        <img src="\static\img\logo.png" alt="logo" class="img-thumbnail" width="65" height="70">
        <span class="fs-3">&nbsp;&nbsp;Bienvenido, {{current_user.fullname}}</span>
      </a>
      <ul class="nav">
        <li class="nav-item m-1"><a href="{{url_for ('home') }}" class="btn btn-secondary" aria-current="page">Mis
            tickets</a></li>
        <li class="nav-item m-1"><a href="/generarTicket" data-bs-target="#modalnewticket" data-bs-toggle="modal"
            class="btn btn-secondary" aria-current="page">Crear ticket</a></li>
        <li class="nav-item m-1"><a href="{{ url_for ('logout') }}" class="btn btn-danger">Cerrar Sesión</a></li>
      </ul>
    </header>
    {%with messages = get_flashed_messages(with_categories=True)%}
    {%if messages%}
    {% for categories, message in messages %}
    <div class="container">
      <div class="alert alert-{{categories}} alert-dismissable" role="alert">
        {{message}}
      </div>
    </div>
    {%endfor%}
    {%endif%}
    {%endwith%}
  </div>
  {% for ticket in tickets %}
  <div class="card text-center container">
    <div class="card-header">
      TICKET ID: #{{ticket.0}}
    </div>
    <div class="card-body">
      <h5 class="card-title">Tipo de problema: {{ticket.3}} </h5>
      <p class="card-text"><b>Descripción:</b> {{ticket.4}}</p>
      {% if ticket.5 == 'Abierto'%}
      <a href="#" class="btn btn-success">Estado del ticket: {{ticket.5}}</a>
      <a href="/deleteTicket/{{ticket.0}}" data-bs-target="#modaldeleteticket{{ticket.0}}" data-bs-toggle="modal"
        class="btn btn-danger">Cerrar ticket</a>
      {% else %}
      <a class="btn btn-danger">Este ticket ha sido cerrado !</a>
      {%endif%}
    </div>
    {% if ticket.5 == 'Abierto'%}
    <div class="card-footer text-body-secondary">
      Ticket generado a las: {{ticket.6}}
    </div>
    {% else%}
    <div class="card-footer text-body-secondary">
      Ticket finalizado a las: {{ticket.6}}
    </div>
    {% endif%}
  </div><br>
  <!-- MODAL DELETE TICKET -->
  <div>
    <div id="modaldeleteticket{{ ticket.0 }}" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-danger" style="align-content: center;">Cerrar Ticket</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="text-center text-primary">
            <h5>¿Estas seguro de que desea cerrar este ticket?</h5>
          </div><br>
          <a href="/deleteTicket/{{ ticket.0 }}" class="btn btn-danger btn-sm">Cerrar ticket</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor%}

  <!--MODAL NEW TICKET -->

  <div>
    <div id="modalnewticket" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title text-primary" style="align-content: center;">Crear ticket</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="{{ url_for('generarTicket') }}" method="POST">
              <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
              <label for="departamento" class="form-label">Departamento</label>
              <select class="form-select" name="departamento" required>
                {% for departamento in departamentos%}
                <option>{{departamento.1}}</option>
                {% endfor %}
              </select><br>
              <label for="tipoProblema" class="form-label">Tipo de problema</label>
              <select class="form-select" name="tipoProblema" id="tipoProblema" required>
                <option>Impresora</option>
                <option>Computadora</option>
              </select><br>
              <div class="form-floating">
                <textarea class="form-control" name="descripcion" id="floatingTextarea2"
                  style="height: 100px"></textarea>
                <label for="floatingTextarea2">Descripción del problema</label>
              </div><br>
              <div class="text-center">
                <button type="submit" class="btn btn-success mb-2">Generar ticket</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>