<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Boostrap-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="{{ url_for ('static', filename='/css/login.css')}}">
    <title>Login de sistema</title>
</head>

<body class="text-center">
    <main class="form-signin w-100 m-auto">
        <form action="registrarFuncionario" method="POST">
            <img src="\static\img\logo.png" alt="logo">
            <h1 class="h3 mb-3 fw-normal">Sistema de tickets</h1>
            <h4>Registrar nuevo usuario al sistema</h4>
            {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            <br />
            {% for categories, message in messages %}
            <div class="alert alert-{{categories}} alert-dismissible" role="alert" id="flash-alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
            {% endif %}

            {% endwith %}
            {% if crear_ususario %}
            <!-- mostrar el formulario aquí -->
            <form action="registrarFuncionario" method="POST">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"><br>
                <div class="form-floating">
                    <input type="text" class="form-control" autocomplete="off" name="fullname">
                    <label for="floatingInput">Ingrese su nombre completo</label>
                </div><br>
                <div class="form-floating">
                    <span>Aviso: <h6 style="color: red;">La contraseña no puede tener espacios!!!</h6></span>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control password-input" autocomplete="off" name="password"
                        id="password-input">
                    <label for="password-input">Ingrese su contraseña</label>
                </div>
                <div class="form-floating">
                    <input type="password" class="form-control password-input" autocomplete="off"
                        name="password-confirm" id="password-confirm-input">
                    <label for="password-confirm-input">Confirme su contraseña</label>
                </div>
                <div id="password-match-error" class="text-danger d-none">Las contraseñas no coinciden.</div><br>
                <div class="form-floating">
                    <input type="email" class="form-control" autocomplete="off" name="email" id="email-input">
                    <label for="email-input">Ingrese su correo electrónico</label>
                </div><br>
                <div id="email-error" class="text-danger d-none">Por favor, ingrese un correo electrónico válido.</div>
                <button type="submit" class="w-100 btn btn-outline-success">Registrarse al sistema</button>
            </form>
            {% endif %}
        </form>


    </main>
    <script>
        $(document).ready(function() {
            // Obtener los campos de correo electrónico, contraseña y confirmación de contraseña
            var emailInput = $('#email-input');
            var emailError = $('#email-error');
            var passwordFields = $('.password-input');
            var passwordMatchError = $('#password-match-error');
            var submitButton = $('button[type="submit"]');
          
            // Agregar un controlador de eventos para el evento 'input' del campo de correo electrónico
            emailInput.on('input', function() {
              var email = $(this).val();
              var errorMessage = '';
          
              // Validar el correo electrónico
              var pattern = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;
              if (!pattern.test(email)) {
                errorMessage = 'Ingrese una dirección de correo electrónico válida';
                emailInput.addClass('is-invalid');
                submitButton.prop('disabled', true);
              } else {
                emailInput.removeClass('is-invalid');
                submitButton.prop('disabled', false);
              }
          
              // Mostrar el mensaje de error
              emailError.html(errorMessage);
            });
          
            // Agregar un controlador de eventos para el evento 'input' de los campos de contraseña
            passwordFields.on('input', function() {
              var password = $('#password-input').val();
              var confirmPassword = $('#password-confirm-input').val();
              var errorMessage = '';
          
              // Validar la contraseña y la confirmación de contraseña para espacios en blanco
              if (/\s/.test(password) || /\s/.test(confirmPassword)) {
                errorMessage = 'La contraseña no puede contener espacios en blanco';
                passwordFields.addClass('is-invalid');
                submitButton.prop('disabled', true);
              } else {
                passwordFields.removeClass('is-invalid');
                submitButton.prop('disabled', false);
          
                // Verificar si las contraseñas coinciden
                if (password !== confirmPassword) {
                  errorMessage = 'Las contraseñas no coinciden';
                  passwordMatchError.removeClass('d-none');
                  submitButton.prop('disabled', true);
                } else {
                  passwordMatchError.addClass('d-none');
                  submitButton.prop('disabled', false);
                }
              }
          
              // Mostrar el mensaje de error
              $('#password-validation-message').html(errorMessage);
            });
          });
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
        crossorigin="anonymous"></script>
</body>

</html>